# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Icon must end with two \r
Icon

# Thumbnails
._*

# Files that might appear on external disk
.Spotlight-V100
.Trashes

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk

proposal_thesis.aux
proposal_thesis.bbl
proposal_thesis.blg
proposal_thesis.dvi
proposal_thesis.lof
proposal_thesis.nlo
proposal_thesis.log
proposal_thesis.out
proposal_thesis.ps
proposal_thesis.toc
proposal_thesis.tps
proposal_thesis.ps
proposal_thesis.ps
proposal_thesis.ps
proposal_thesis.tcp
graduation/ReimbursementThesis.pdf
graduation/howto.txt
graduation/PhD Memo - Hamoun Ghanbari, CSE.pdf
graduation/Thesis Non-Exclusive License.pdf
graduation/Hamoun Ghanbari-CSE-RevisionsApprovedMemorandum.pdf
proposal_thesis.ilg
proposal_thesis.nls
~$pc_nfm.tex